In [3]:
my_list = [1,2,3,4,5,6,7]

In [4]:
for number in my_list:
    print(number)

1
2
3
4
5
6
7

## range

In [5]:
range(20)

range(0, 20)

In [7]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [8]:
list(range(-20))

[]

In [12]:
list(range(21))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [14]:
for number in list(range(21)):
    print(number)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [22]:
for number in list(range(21)):
    print(number *5)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [23]:
for num in list(range(5,21)):
    print(num)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [24]:
for num in list(range(5,21)):
    print(num*5)

25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [25]:
for num in list(range(5,21,3)):
    print(num)

5
8
11
14
17
20

In [41]:
for number in list(range(0,101,2)):
    print(number)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [44]:
for x in (range(0,1001,5)):
    print(x)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100
105
110
115
120
125
130
135
140
145
150
155
160
165
170
175
180
185
190
195
200
205
210
215
220
225
230
235
240
245
250
255
260
265
270
275
280
285
290
295
300
305
310
315
320
325
330
335
340
345
350
355
360
365
370
375
380
385
390
395
400
405
410
415
420
425
430
435
440
445
450
455
460
465
470
475
480
485
490
495
500
505
510
515
520
525
530
535
540
545
550
555
560
565
570
575
580
585
590
595
600
605
610
615
620
625
630
635
640
645
650
655
660
665
670
675
680
685
690
695
700
705
710
715
720
725
730
735
740
745
750
755
760
765
770
775
780
785
790
795
800
805
810
815
820
825
830
835
840
845
850
855
860
865
870
875
880
885
890
895
900
905
910
915
920
925
930
935
940
945
950
955
960
965
970
975
980
985
990
995
1000

In [47]:
for x in (range(0,201,10)):
    print(x*3)

0
30
60
90
120
150
180
210
240
270
300
330
360
390
420
450
480
510
540
570
600

## enumerate

In [62]:
index = 0

In [63]:
for number in list(range(5,16)):
    print(f"no: {number} ix: {index}")
    index += 1

no: 5 ix: 0
no: 6 ix: 1
no: 7 ix: 2
no: 8 ix: 3
no: 9 ix: 4
no: 10 ix: 5
no: 11 ix: 6
no: 12 ix: 7
no: 13 ix: 8
no: 14 ix: 9
no: 15 ix: 10

In [68]:
jamaica = 0

In [69]:
while jamaica< 11:
    print(jamaica)
    jamaica += 1

0
1
2
3
4
5
6
7
8
9
10

In [71]:
for number in enumerate(list(range(5,16))):
    print(number)

(0, 5)
(1, 6)
(2, 7)
(3, 8)
(4, 9)
(5, 10)
(6, 11)
(7, 12)
(8, 13)
(9, 14)
(10, 15)

In [74]:
for element,index in enumerate(list(range(5,16))):
    print(element)
    print(index)

0
5
1
6
2
7
3
8
4
9
5
10
6
11
7
12
8
13
9
14
10
15

In [75]:
for element,index in enumerate(list(range(5,16))):
    print(element,index)

0 5
1 6
2 7
3 8
4 9
5 10
6 11
7 12
8 13
9 14
10 15

## random

In [76]:
from random import randint

In [80]:
randint(0,1000)

528

In [81]:
randint(0,1000)

5

In [82]:
randint(0,1000)

204

In [89]:
my_list = list(range(0,21))

In [90]:
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [91]:
from random import shuffle

In [92]:
shuffle(my_list)

In [93]:
my_list

[10, 19, 3, 13, 6, 11, 8, 4, 15, 16, 20, 1, 7, 17, 12, 18, 5, 9, 2, 14, 0]

In [94]:
shuffle(my_list)

In [95]:
my_list

[6, 0, 2, 1, 10, 20, 3, 14, 5, 18, 4, 19, 9, 13, 11, 8, 16, 17, 15, 12, 7]

## zip

In [96]:
sport_list = ["run","swim","spar"]

In [99]:
kalori_list = [100,200,300]

In [100]:
type(sport_list)

list

In [101]:
type(kalori_list)

list

In [105]:
day_list = ["Monday","Tuesday","Wednesday"]

In [110]:
daily_routine = list(zip(sport_list,kalori_list,day_list))

In [111]:
daily_routine

[('run', 100, 'Monday'), ('swim', 200, 'Tuesday'), ('spar', 300, 'Wednesday')]

In [112]:
for element in daily_routine:
    print(element)

('run', 100, 'Monday')
('swim', 200, 'Tuesday')
('spar', 300, 'Wednesday')

## List Advanced

In [116]:
new_list = []
my_string = "Metallica"
for element in my_string:
    new_list.append(element)

In [117]:
new_list

['M', 'e', 't', 'a', 'l', 'l', 'i', 'c', 'a']

In [120]:
new_list_2 = []

In [121]:
number = list(range(0,21))

In [122]:
for num in number:
    new_list_2.append(num)

In [123]:
new_list_2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [124]:
new_list_3 = []

In [125]:
my_string_2 = "Metal"

In [126]:
new_list_3 = [element for element in my_string_2]

In [127]:
new_list_3

['M', 'e', 't', 'a', 'l']

In [128]:
new_list_4 = []

In [129]:
my_number_2 = list(range(0,16))

In [130]:
new_list_4 = [element for element in my_number_2]

In [131]:
my_number_2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [132]:
my_new_number_3 = [number for number in list(range(0,21))]

In [133]:
my_new_number_3

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [136]:
my_new_number_4 = [num**5 for num in list(range(0,31))]

In [137]:
my_new_number_4

[0,
 1,
 32,
 243,
 1024,
 3125,
 7776,
 16807,
 32768,
 59049,
 100000,
 161051,
 248832,
 371293,
 537824,
 759375,
 1048576,
 1419857,
 1889568,
 2476099,
 3200000,
 4084101,
 5153632,
 6436343,
 7962624,
 9765625,
 11881376,
 14348907,
 17210368,
 20511149,
 24300000]